@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.content-section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1rem 4rem 1rem; }
  .content-section:after {
    content: "";
    display: table;
    clear: both; }

.section-title {
  padding: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200; }

.hero-content {
  display: block;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 2rem;
  color: #333;
  text-align: center;
  z-index: 100;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .5s; }
  .hero-content:after {
    content: "";
    display: table;
    clear: both; }
  .hero-content h1,
  .hero-content h2,
  .hero-content h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200; }
  .hero-content h1,
  .hero-content h2 {
    padding: 0 0 1rem 0; }
  .hero-content i {
    font-size: 1.25rem; }

#projects {
  background: #F9F9F9; }

.about-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/me2.jpg);
  background-size: 100%;
  height: 300px;
  width: 300px;
  border-radius: 400px;
  margin: 0 auto 3em auto; }

.about-desc {
  padding: 0 10rem;
  font-weight: 200;
  line-height: 1.5rem; }

.project-title {
  padding: 10rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #F9F9F9; }

.project-hero {
  background: url(../img/hero-img.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.intro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 0 0 1rem 0; }
  .intro:last-child {
    margin-right: 0; }
  .intro hr {
    width: 25%;
    border: 2px solid #DDD; }

.details {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-weight: 200; }
  .details:last-child {
    margin-right: 0; }

.half-img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half-img:last-child {
    margin-right: 0; }

.full-img, .half-img {
  padding-bottom: 1rem; }
  .full-img img, .half-img img {
    width: 100%; }

.main-nav {
  background-color: #fff;
  border-bottom: 1px solid #DDD; }

.nav-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem; }
  .nav-container:after {
    content: "";
    display: table;
    clear: both; }

.nav-branding,
.nav-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .nav-branding:last-child,
  .nav-section:last-child {
    margin-right: 0; }

.nav-branding {
  text-transform: uppercase;
  color: #333;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: .15rem; }

.nav-links {
  float: right;
  color: #333;
  padding-top: .3rem; }
  .nav-links li {
    padding: 0 0 0 2rem;
    display: inline-block; }

.mobile-btn {
  width: 40px;
  height: 34px;
  padding-top: 6px;
  background: none;
  outline: none;
  cursor: pointer;
  float: right;
  display: none; }
  .mobile-btn:hover span {
    background: #333; }
  .mobile-btn span {
    width: 25px;
    height: 4px;
    background: #ccc;
    display: block;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 3px; }

.main-footer {
  background-color: #fff;
  border-top: 1px solid #DDD;
  margin-top: 4rem; }

.footer-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem; }
  .footer-container:after {
    content: "";
    display: table;
    clear: both; }

.footer-links {
  float: right;
  color: #333; }
  .footer-links li {
    padding: 0 0 0 2rem;
    display: inline-block; }

.copyright {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  color: #333; }
  .copyright:last-child {
    margin-right: 0; }

.social {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .social:last-child {
    margin-right: 0; }

.bg-vid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover; }

.grid {
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: left; }
  .grid li {
    text-align: left;
    position: relative; }
  .grid figure {
    margin: 0;
    position: relative; }
    .grid figure img {
      width: 100%;
      display: block;
      position: relative; }
  .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e; }
    .grid figcaption h4 {
      margin: 0;
      padding: 0;
      color: #fff; }
    .grid figcaption span:before {
      content: 'by '; }

.cs-style-3 figure {
  overflow: hidden; }

.cs-style-3 figure img {
  transition: transform 0.4s; }

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  transform: translateY(-50px); }

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s; }

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s; }

.proj-card {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 1em 0; }
  .proj-card:last-child {
    margin-right: 0; }
  .proj-card:nth-child(2n) {
    margin-right: 0; }
  .proj-card:nth-child(2n+1) {
    clear: left; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1,
.h1 {
  font-size: 2.25em; }

h2,
.h2 {
  font-size: 2em; }

h3,
.h3 {
  font-size: 1.75em; }

h4,
.h4 {
  font-size: 1.5em; }

h5,
.h5 {
  font-size: 1.25em; }

h6,
.h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

.link-lowlight {
  color: #999; }
  .link-lowlight:hover {
    color: #333; }

@media screen and (max-width: 780px) {
  body {
    font-size: .9rem; }

  .content-section {
    padding: 2rem 1rem; }

  .section-title {
    padding: 0 0 1rem 0; }

  .hero-content {
    padding: 5rem 2rem; }

  .about-img {
    height: 250px;
    width: 250px; }

  .about-desc {
    padding: 0;
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .about-desc:last-child {
      margin-right: 0; }

  .nav-container {
    padding: 1.5rem 1rem; }

  .nav-branding {
    display: none; }

  .nav-section {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .nav-section:last-child {
      margin-right: 0; }

  .mobile-btn {
    display: inline-block; }

  .nav-links {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    display: none; }
    .nav-links:last-child {
      margin-right: 0; }
    .nav-links li {
      padding: 0 0 1rem 0;
      display: block;
      font-size: 1.25rem;
      text-align: center; }

  .lista {
    display: block; }

  .footer-container {
    padding: 1rem 1rem; }

  .copyright,
  .social {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .copyright:last-child,
    .social:last-child {
      margin-right: 0; }

  .footer-links {
    padding: 1rem 0;
    float: left; }
    .footer-links li {
      padding: 1rem 0 0 0;
      display: block; }

  .intro,
  .details {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .intro:last-child,
    .details:last-child {
      margin-right: 0; }

  .half-img {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .half-img:last-child {
      margin-right: 0; }

  .proj-card {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .proj-card:last-child {
      margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
