.main-nav {
  background-color: $dark-gray;
}

.nav-container {
  @include outer-container;
  @include pad(1.5em 0);
}

.nav-right{
  @include span-columns(6);
}

.nav-left {
  @include span-columns(6);
}

.nav-branding {
  text-transform: uppercase;
  color: white;
}

.nav-links {
  float: right;
  color: white;

  li {
    @include pad(0 0 0 2em);
    display: inline-block;

  }
}

@include media($mobile) {
  .nav-container {
    @include pad(1.5em 1em);
  }
  .nav-left {
    display: none;
  }
}