.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.footer-container {
  @include outer-container;
  @include pad(1rem 1rem);
}

.footer-links {
	float: right;
	
	li {
    @include pad(0 0 0 2rem);
    display: inline-block;

  }
}

.copyright {
  @include span-columns(6);
}

.social {
  @include span-columns(6);
}