.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $nav-bg-color;
  border-top: $base-border;
}

.footer-container {
  @include outer-container;
  @include pad(.5rem 1rem);
}

.footer-links {
	float: right;
	color: $nav-txt-color;
	
	li {
    @include pad(0 0 0 2rem);
    display: inline-block;

  }
}

.copyright {
  @include span-columns(6);
  color: $base-font-color;
}

.social {
  @include span-columns(6);
}