.content-section {
  @include outer-container;
  @include pad(4rem 1rem 4rem 1rem);
}

.section-title {
  @include pad(0 0 2rem 0);
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

// Homepage
// ---------------------------->

.hero-content {
  display: block;
  @include outer-container;
  @include pad(10rem 2rem);
  color: $base-font-color;
  text-align: center;
  z-index: 100;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .5s;

  h1,
  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200;
  }

  h1,
  h2 {
    @include pad(0 0 1rem 0);
  }

  i {
    font-size: 1.25rem;
  }
}

#projects {
  background: $medium-background-color;
}

.about-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/me2.jpg);
  background-size: 100%;
  height: 300px;
  width: 300px;
  border-radius: 400px;
  margin: 0 auto 3em auto;
}

.about-desc {
  @include pad(0 10rem);
  font-weight: 200;
  line-height: 1.5rem;
}

// Projects
// ---------------------------->

.project-title {
  @include pad(10rem 0);
  text-align: center;
  text-transform: uppercase;
  color: $light-font-color; 
}

.project-hero {
  background: url(../img/hero-img.png);
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
}

.intro {
  @include span-columns(6);
  @include pad(0 0 1rem 0);

  hr {
    width: 25%;
    border: 2px solid $base-border-color;
  }
}

.details {
  @include span-columns(6);
  font-weight: 200;
}

.half-img {
  @include span-columns(6);
  @extend .full-img;
}

.full-img {
  padding-bottom: 1rem;
  img {
    width: 100%;
  }
}



