@include media($mobile) {

  // Global styles
  // ---------------------------->
  body {
    font-size: .9rem;
  }

  .content-section {
    @include pad(2rem 1rem);
  }

  .section-title {
    @include pad(0 0 1rem 0);
  }

  // Home Page
  // ---------------------------->

  .hero-content {
    @include pad(5rem 2rem);
  }

  .about-img {
    height: 250px;
    width: 250px;
  }

  .about-desc {
    @include pad(0);
    @include span-columns(4);
  }

  // Nav
  // ---------------------------->
  .nav-container {
    @include pad(1.5rem 1rem);
  }

  .nav-branding {
    @include span-columns(2);
  }

  .nav-section {
    @include span-columns(4);
  }

  .mobile-btn {
    display: inline-block;
  }

  .nav-links {
    @include span-columns(4);
    display: none;

    li {
      @include pad(0 0 1rem 0);
      display: block;
      font-size: 1.25rem;
      text-align: center; 
    }
  }

  .lista{
    display: block;
  }

  // Footer
  // ---------------------------->

  .footer-container {
    @include pad(1rem 1rem);
  }

  .copyright,
  .social {
    @include span-columns(4);
  }

  .footer-links {
    @include pad(1rem 0);
    float: left;
    li {
      @include pad(1rem 0 0 0);
      display: block;
    }
  }

  // Projects
  // ---------------------------->

  .intro,
  .details {
    @include span-columns(4);
  }

  .half-img {
    @include span-columns(4);
  }


  // Cards
  // ---------------------------->

  .proj-card {
    @include span-columns(4);
  }
}