.main-nav {
  background-color: $nav-bg-color;
  border-bottom: $base-border;
}

.nav-container {
  @include outer-container;
  @include pad(1em 0);
}

.nav-branding,
.nav-section {
  @include span-columns(6);
}

.nav-branding {
  text-transform: uppercase;
  color: $nav-txt-color;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .15em;
}

.nav-links {
  float: right;
  color: $nav-txt-color;
  padding-top: .3em;

  li {
    @include pad(0 0 0 2em);
    display: inline-block;

  }
}

//Responsive Menu
.mobile-btn {
  width:40px;
  height:34px;
  padding-top:6px;
  background:none;
  outline:none;
  cursor:pointer;
  float: right;
  display: none;

  &:hover {
    span {
      background: $base-font-color;
    }
  }

  span{
    width:25px;
    height:4px;
    background:#ccc;
    display: block;
    margin:auto;
    border-radius:3px;
    margin-bottom:3px; 
  }
}

@include media($mobile) {
  
}