@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../base/base";
@import "partials/variables";
@import "partials/nav";
@import "partials/video";
@import "partials/cards";
@import "partials/typography";

.hero-img {
  background-image: url(../img/hero-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-content {
  display: absolute;
  @include outer-container;
  @include pad(10em 2em);
  color: $white;
  text-align: center;
}

.main-content {
  @include outer-container;
  @include pad(4em 2em);
}