---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
/ .main-nav
/   .nav-container
/     .nav-right
/       .nav-branding
/         | Josh Franklin
/     .nav-left
/       ul.nav-links
/         li Thing 3
/         li Thing 2
/         li Thing 1
video.bg-vid autoplay="" loop=""
  source src="video/wineglass-fsh.webm" type="video/webm"
  source src="video/wineglass-fish.mp4" type="video/mp4"
.video-overlay
.main-title-container
  h1.main-title This is my friend Ted Danson
  h3.main-title He lives in a glass on my bedside table